/*
 * Globals
 */

body {
  font-family: 'Roboto', sans-serif;
  /*color: #555;*/
  margin: 0;
  padding: 0;
}

body > div {
  padding: 50px;
}

.btn-floating {
  position: fixed !important;
  right: 18px;
  bottom: 18px;
}

.bold {
  font-weight: bold;
}

textarea {
  height: 50vh !important;
}